@import "../../global-styles/colors.scss";

.loading {
	width: 35px;
	height: 35px;
	border: 3px solid $primary;
	border-radius: 50%;
	border-color: $text $text transparent transparent;
	animation: spin 1s linear infinite;
	margin: 1.5rem auto -0.5rem auto;
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		25% {
			border-color: $primary $primary transparent transparent;
		}
		75% {
			border-color: $text $text transparent transparent;
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
